<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<div class="text-center">
    <div class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" value="{{email::input}}">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" value="{{password::input}}">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" on-click="login">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 1999-2002</p>
    </div>
</div>
  <span hidden$="{{!isLogged}}">el mensaje: [[message]]</span>

    <iron-ajax id="doLogin" url="http://localhost:3000/apitechu/v2/login"
     content-type="application/json"method="POST" handle-as="json" on-response="manageAJAXResponse" on-error="showError" >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          password: {
            type: String
          },
          message:{
            type: String
          },
          isLogged:{
            type: Boolean,
            value: false
          }
        };
      }

      login(){
        console.log("onclik");
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("login done");
      }

      manageAJAXResponse(data){
        console.log("Response: " + data);
        this.message = data.detail.response.msg;
        this.isLogged = true;
        window.location.href=window.location.href + "userDashboard/";
      }

      showError(error){
        console.log("error: " + error);
        this.message = "ERROR";
        alert("error de acceso");
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
