<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-5">Big Bang Theory</h1>
      <h2 class="col-md-3">You are a [[first_name]] [[last_name]]!</h2>
      <h3 class="col-md-3">email : [[email]]</h3>
    </div>
    <button class="btn btn-success">Login</button>
    <!--<input type="text" value="{{first_name::input}}"/>-->
    <!--<input type="range" min="18" max="9999999" value="{{age::input}}"/>-->

    <iron-ajax auto="true" id="getUsers" url="http://imagenapitechu4inigo-techuinigo.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/users/{{id}}"
    handle-as="json" on-response="showData">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          id:{
            type: Number
          },
          email:{
            type: String
          }
        };
      }
      showData(data){
        console.log(data);
        this.first_name = data.detail.response[0].first_name;
        this.email = data.detail.response[0].email;
        this.last_name = data.detail.response[0].last_name;
        this.id = data.detail.response[0].id;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
