<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="user-account">
  <template>
    <style>
      :host {
        display: block;
      }
      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<div class="text-center">
  <div>[[IBAN]]</div>
  <div>[[balance]]</div>
</div>

    <iron-ajax auto="true" url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
     content-type="application/json" method="GET" handle-as="json" on-response="accountResponse" on-error="accountResponseError" >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserAccount extends Polymer.Element {
      static get is() { return 'user-account'; }
      static get properties() {
        return {
          IBAN: {
            type: String
          },
          balance: {
            type: String
          },
          id: {
            type: Number
          }
        };
      }

      accountResponse(data){
        if(data.detail.response.length > 0){
          console.log("ResponseAccount: " + data.detail.response[0].IBAN);
          this.IBAN = data.detail.response[0].IBAN;
          console.log("ResponseAccount: " + data.detail.response[0].balance);
          this.balance = data.detail.response[0].balance;
        }
      }

      accountResponseError(error){
        console.log("error: " + error);
        this.message = "ERROR";
        alert("error de acceso");
      }
    }

    window.customElements.define(UserAccount.is, UserAccount);
  </script>
</dom-module>
